<nav class="nav">
    <a class="logo" href="/">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="24" y="23.9622" width="23.6992" height="9.6499" rx="4.82495" transform="rotate(-180 24 23.9622)"
          fill="#734FBF"></rect>
        <path
          d="M21.0872 1.46063C22.8347 3.34214 22.8347 6.39267 21.0872 8.27418L7.83636 22.5415C6.08889 24.423 3.25569 24.423 1.50823 22.5415C-0.239234 20.66 -0.239234 17.6094 1.50823 15.7279L14.7591 1.46063C16.5065 -0.420878 19.3397 -0.420878 21.0872 1.46063Z"
          fill="#A35BEB"></path>
        <rect width="22.4361" height="9.6499" rx="4.82495" fill="#C173FF"></rect>
      </svg>
    </a>
    <a class="nav-link">Products</a>
    <a class="nav-link">About</a>
    <a class="nav-link">Blog</a>
    <a class="nav-link">Contact</a>
    <a style="cursor: pointer; display: none;" class="profile" href="/dashboard">
      <img src="" id="pfp" class="rounded-circle" width="20" height="20" style="border-radius: 50%;"><span id="un" style="color: white;"></span>
    </a>
  </nav>