<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head") %>
</head>

<body>
  <%- include("partials/navbar") %>
  <section class="welcome">
    <h1>We are Zeon.</h1>
    <p>Creating applications for everyone</p>
    <a href="/signup"><button>Get Started</button></a>
  </section>
  <section class="welcome">
    <h1>Introducing Saturn.</h1>
    <p>A new tool made by Zeon.</p>
    <a href="https://saturn.repx.repl.co/"><button>Get Started</button></a>
  </section>
  <script src="script.js"></script>
</body>

</html>