<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head") %>

</head>

<body>
  <%- include("partials/navbar") %>
  <section class="login">
    <h1 style="margin-bottom: 5px; font-size: 35px;">Welcome to Zeon!</h1>
    <p class="muted" style="margin-top: 5px;">Let's get you logged in.</p>
    <input type="text" placeholder="Username..." id="username">
    <input type="password" placeholder="Password..." id="password">
    <a><button onclick="login()">Login</button></a>
    <span style="text-align: center;">Don't want to login?<br><a style="color: #f1f1f1; text-decoration: none;"
        href="/signup">Sign up for
        an account</a></span>
  </section>
  <script src="script.js"></script>
  <script>
    async function login() {
      let post = await fetch("/api/login", {
        method: "POST",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },

        //make sure to serialize your JSON body
        body: JSON.stringify({
          "username": document.querySelector("#username").value,
          "password": document.querySelector("#password").value
        })
      })
      // console.log(await post.json())
      let accinfo = await post.json()
      console.log(accinfo)

      if (accinfo.status == 200) {
        // setCookie("zeonsession", btoa(JSON.stringify({info: accinfo.info, token: accinfo.token})), 30)
        location.pathname = "/"
      }
    }
  </script>
</body>

</html>